In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('chatInfo_rows.csv')

In [3]:
df.head()

,id,created_at,name,content,time
0,1,2024-11-02 13:48:55.289025+00,PEANUT,"Bonjour, premier message",13:16:44.321092
1,71,2024-11-16 22:19:00.679082+00,Okarun,Hey,22:19:00.679082
2,73,2024-11-16 22:24:39.5685+00,Chihiro,Heyoooooo,22:24:39.5685
3,76,2024-11-16 22:27:59.056803+00,JK,Hello,22:27:59.056803
4,77,2024-11-16 22:42:53.231892+00,Okarun,Hellooo,22:42:53.231892

In [30]:
((df['name'].str.strip().str.lower()=='jk')).sum()

np.int64(1)

In [41]:
df['msg_per_users']=df['name'].map(df['name'].value_counts())

In [42]:
df.head()

,id,created_at,name,content,time,msg_per_users
0,1,2024-11-02 13:48:55.289025+00,PEANUT,"Bonjour, premier message",13:16:44.321092,1
1,71,2024-11-16 22:19:00.679082+00,Okarun,Hey,22:19:00.679082,7
2,73,2024-11-16 22:24:39.5685+00,Chihiro,Heyoooooo,22:24:39.5685,1
3,76,2024-11-16 22:27:59.056803+00,JK,Hello,22:27:59.056803,1
4,77,2024-11-16 22:42:53.231892+00,Okarun,Hellooo,22:42:53.231892,7